body {
    background-color: rgb(182, 196, 182);
}

header {
    text-align: center;
    color: white;
    
}

section {
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.463);
}

div {
    text-align: center;
    padding: 15px;
    font-size: 1.1em;
}

footer {
    text-align: center;
    color: white;
    font-style: italic;
    padding: 10px;
}